.movie-card {
    width: 18rem;
    margin: 20px
}

.comment-card {
    width: 18rem;
    margin-right: 20px;
    margin-bottom: 20px;
}

.button-container {
    margin-right: 10px;
    margin-bottom: 10px;
}
